 body {
       border: 1px solid grey ;
	margin: 1%;
	padding: 0%;
      }
	
      div {
	background-color: lightgrey;
	color: blue;
	padding: 0.2%;
	font-size: 14pt;
	border: 1px solid grey ;
      }
		
      h3{
        color: white;
        background-color: lightblue;
	text-align: left;
	padding: 1%;
      }
	  
	input {
		width: 100%; 
		padding: 0.5%;
	  }
	  
.dropdown {
	display: flex;
	margin-left: 100%;
}

select,label {
	margin: 0.5%;
	padding: 0.2%;
}
	
