 body {
	margin: 0%;
	padding: 0%;
      }
	
      h3 {
	background-color: lightgrey;
	color: #24a0ed;
	padding: 0.5%;
      }
		
      h4{
        color: white;
        background-color: #24a0ed;
	text-align: left;
	padding: 1%;
	height: 10%;
	margin-top: 0%
      }
	  
	textarea {
		width: 80%; 
		margin: 1%;
		aling-text: left;
		position: relative;
	  }
	  
.dropdown {
	margin-left: 85%;
}

select {
	padding: 0.2%;
	position: relative;
}

.options {
	padding: 0.2%;
	margin: 0.5%;
	position: relative;
}

form {
	border-bottom: 1px solid grey;
	position: relative;
	margin: 0%;
	padding: 0%;
}
