 body {
       border: 1px solid black ;
	margin: 5%;
	padding: 2%;
      }
	
      div {
	background-color: lightgrey;
	colr: white;
      }
		
      h3{
        color: white;
        background-color: lightblue;
	text-align: left;
      }
	  
	input {
		width: 100%; 
	  }
	  
